################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POS.Retail/bin/Debug
/POS.Retail/obj/Debug
